---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  font-size: 15px; // 16px

  @include breakpoint($medium) {
    font-size: 16px; // 18px
  }

  @include breakpoint($large) {
    font-size: 17px; // 20px
  }

  @include breakpoint($x-large) {
    font-size: 18px; // 22px
  }
}